ul.references-dialog-links {
  margin-top: .5em;
}
ul.references-dialog-links li a {
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 0;
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background: url(../img/buttons.png) 0 0 repeat-x !important;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
ul.references-dialog-links li a:hover {
  text-decoration: none;
}
#references-dialog-page .view-archibald-vcards tbody tr:hover {
  background: #FFFFBF !important;
}
body .view-archibald-lomch-descriptions .views-exposed-widget.views-widget-checkboxes .form-item-uid-1 {
  margin-top: .8em;
}
body .view-archibald-lomch-descriptions .views-exposed-form .views-submit-button input {
  margin-top: .5em;
}
.view-archibald-partners.view-display-id-block .views-row-even {
  background: #f3f4ee;
}
