.archibald-vertical-tabs-pane-footer {
  text-align: center;
  clear: both;
}
.archibald-vertical-tabs-pane-footer__link {
  cursor: pointer;
}
.archibald-vertical-tabs-pane-footer__link + .archibald-vertical-tabs-pane-footer__link {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #ccc;
}
.archibald-vertical-tabs-collapse-link {
  cursor: pointer;
}
.vertical-tabs.archibald-vertical-tabs-collapsed {
  background: inherit !important;
}
.vertical-tabs.archibald-vertical-tabs-collapsed .vertical-tabs-list {
  display: none;
}
.vertical-tabs.archibald-vertical-tabs-collapsed,
.vertical-tabs.archibald-vertical-tabs-collapsed .vertical-tabs-panes {
  margin-left: 0 !important;
}
.archibald-lom-required {
  color: #f77;
}
.archibald-lom-recommended {
  color: #777;
}
.vertical-tabs .sticky-wrapper {
  position: absolute;
}
.archibald-lomch-filesize-wrapper {
  overflow: hidden;
}
.archibald-lomch-filesize-wrapper .form-type-textfield {
  max-width: 50px;
  float: left;
  padding-top: 0 !important;
}
.archibald-lomch-filesize-wrapper .form-type-select {
  float: left;
  margin-left: 1em;
  padding-top: 0;
}
