.node-archibald-lomch-description .field {
  margin-bottom: 1em;
}
.node-archibald-lomch-description .field-label {
  font-size: 1.1em;
}
.node-archibald-lomch-description label {
  display: inline;
}
.archibald-node-meta-data__section {
  margin: 1em 0;
}
.archibald-lomch-ontology-vocabulary-field-multiple .item-list h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.archibald-lomch-ontology-vocabulary-field-multiple .item-list ul {
  margin-top: 0;
}
.node-archibald-lomch-description .archibald-node-view-on-portal-link {
  text-align: right;
}
.archibald-preview-image {
  margin-bottom: 1em;
}
.archibald-preview-image img {
  margin-bottom: 0;
}
.archibald-preview-image__copyright {
  font-size: .9em;
  font-style: italic;
}
@media screen and (min-width: 1024px) {
  .archibald-node-meta-data .fieldset-wrapper {
    position: relative;
  }
  .archibald-node-meta-data__section {
    width: 49%;
  }
  .archibald-node-meta-data__section--revisioning-status,
  .archibald-node-meta-data__section--meta-meta-data-schema,
  .archibald-node-meta-data__section--lom-id,
  .archibald-node-meta-data__section--partner-data {
    float: left;
    clear: left;
  }
  .archibald-node-meta-data__section--contributors {
    position: absolute;
    right: 0px;
  }
}
