/* Make the top select elements take up 1 line. */
.node-archibald_lomch_description-form .form-item-language,
.node-archibald_lomch_description-form .form-item-language ~ .field-widget-options-select {
  float: left;
  margin-right: 2em;
}
.node-archibald_lomch_description-form .vertical-tabs {
  clear: both;
}
.node-archibald_lomch_description-form .archibald-vertical-tabs-collapse-link {
  display: block;
  clear: both;
}
.node-archibald_lomch_description-form #edit-lomch-resource-language,
.node-archibald_lomch_description-form #edit-lomch-keywords,
.node-archibald_lomch_description-form #edit-lomch-learning-resource-type .form-checkboxes {
  width: 48%;
  margin-right: 2%;
  float: left;
  padding: 0;
}
.node-archibald_lomch_description-form #edit-lomch-learning-resource-type {
  width: 61%;
  margin-right: 2%;
  float: left;
  padding: 0;
}
.node-archibald_lomch_description-form #edit-lomch-technical-format,
.node-archibald_lomch_description-form #edit-lomch-size,
.node-archibald_lomch_description-form #edit-lomch-intended-enduserrole,
.node-archibald_lomch_description-form #edit-lomch-context,
.node-archibald_lomch_description-form #edit-lomch-typical-age-range,
.node-archibald_lomch_description-form #edit-lomch-difficulty-level,
.node-archibald_lomch_description-form #edit-lomch-typical-learning-time {
  width: 31%;
  margin-right: 2%;
  float: left;
  padding: 0;
}
.node-archibald_lomch_description-form #edit-lomch-keywords .form-text,
.node-archibald_lomch_description-form #edit-lomch-size .form-text {
  max-width: 100%;
}
.node-archibald_lomch_description-form #edit-lomch-typical-age-range {
  clear: left;
}
.node-archibald_lomch_description-form #edit-lomch-educational-description {
  clear: both;
}
.node-archibald_lomch_description-form #edit-lomch-typical-age-range fieldset.form-wrapper {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
.node-archibald_lomch_description-form #edit-lomch-typical-age-range fieldset.form-wrapper .fieldset-legend {
  padding-left: 0;
}
.node-archibald_lomch_description-form #edit-lomch-typical-age-range .fieldset-wrapper {
  padding: 0;
}
ul.references-dialog-links {
  margin-left: 0;
}
.ui-dialog  .ui-dialog-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  box-sizing:         border-box;
}
.vertical-tabs .sticky-wrapper.is-sticky .vertical-tab-button.first {
  border-top: 1px solid #ccc;
}
