.archibald-partner {
  overflow: hidden;
}
.archibald-partner__info__field {
  margin-bottom: .5em;
}
.archibald-partner__info__field__label {
  font-weight: bold;
}
.archibald-partner--summary .archibald-partner__logo {
  display: inline-block;
}
.archibald-partner--summary .archibald-partner__name {
  display: inline;
}
.archibald-partner--default {
  display: table-row;
  width: auto;
}
.archibald-partner--default .archibald-partner__logo,
.archibald-partner--default .archibald-partner__info,
.archibald-partner--default .archibald-partner__operations {
  vertical-align: top;
  padding: 1em 2em 1em 1em;
  display: table-cell;
}
.archibald-partner--default .archibald-partner__logo {
  width: 100px;
}
.archibald-partner--default .archibald-partner__info {
  width: 500px;
}
.archibald-partner--default .archibald-partner__operations {
  width: 100px;
}
