.view-archibald-lomch-descriptions .views-exposed-widget.views-widget-filter-title label,
.view-archibald-lomch-descriptions .views-exposed-widget.views-widget-filter-title .views-widget {
  display: inline-block;
}
.view-archibald-lomch-descriptions .views-exposed-widget.views-widget-filter-title label {
  margin-right: 1em;
}
.view-archibald-lomch-descriptions .views-exposed-widget.views-widget-checkboxes .form-item-uid-1 {
  margin-top: .3em;
}
.view-archibald-lomch-descriptions .views-exposed-form .views-submit-button input {
  margin-top: 0em;
}
