.vertical-tabs.archibald-vertical-tabs-collapsed .vertical-tabs-panes {
  padding-left: 15px !important;
}
.node-archibald_lomch_description-form #edit-actions {
  margin-top: 30px;
}
ul.references-dialog-links li a {
  background: #e3e3e3 !important;
  padding: 3px 5px;
  display: inline-block;
  transition: all, 0.3s;
  border-top: 0 !important;
  color: #555;
  margin-left: 0;
}
ul.references-dialog-links li a:hover {
  background: #cecece !important;
  text-decoration: none;
}
.view-archibald-lomch-descriptions .views-exposed-widget.views-widget-checkboxes .form-item-uid-1 {
  margin-right: 1em;
}
