/* Node display. */
.node-full .field-name-archibald-per .archibald-curriculum-ui-summary__list__item--progressions > span {
  text-overflow: initial;
  overflow: visible;
  max-height: 100%;
  line-height: .9;
}
.node-full .field-name-archibald-per .archibald-curriculum-ui-summary__list__item--progressions span span {
  display: inline;
  padding: 0;
  border: 0;
  font-size: 1em;
  text-overflow: initial;
  overflow: visible;
}
.archibald-curriculum-ui-summary__list__item--isGroup {
  font-weight: bold;
  background: #eee;
}
.archibald-column__wrapper__list__item--isGroup {
  border-bottom: 2px solid #555;
  font-size: 1.1em;
  font-weight: bold;
  background: #eee;
}
.archibald-column__wrapper__list__item--level-2 {
  padding-left: 60px;
}
.archibald-column__wrapper__list__item--level-3 {
  padding-left: 90px;
}
.archibald-column__wrapper__list__item--level-4 {
  padding-left: 120px;
}
.archibald-column__wrapper__list__item--title {
  cursor: pointer;
}
.archibald-column__wrapper__list__item__per-selection {
  margin-top: 1em;
  font-size: .9em;
  font-style: italic;
}
.archibald-per-table {
  border-collapse: collapse;
  table-layout: fixed;
}
.archibald-per-table__cell {
  vertical-align: top;
  padding: 10px;
  border: 1px solid #bbb;
  background: white;
}
.archibald-per-table__cell--title {
  font-weight: bold;
}
.archibald-per-table__cell--level-1 {
  background: #fb0;
  color: white;
  font-size: 1.3em;
}
.archibald-per-table__cell--level-2 {
  font-size: 1.1em;
  background: #fbf5d6;
}
.archibald-per-table__cell--active {
  background: #ddd;
}
.archibald-per-table__cell--empty {
  background: transparent;
  border-style: dashed;
}
.archibald-per-table__cell--progression label {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  cursor: pointer;
}
.archibald-per-table__cell--progression input {
  float: left;
  margin-right: 1em;
}
.archibald-column__wrapper__list__item--objectifs .icon-chevron-right {
  display: none;
}
