.archibald-help-tooltip {
  margin-left: .5em;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url('../img/help.png') center center no-repeat;
  border-bottom: 0;
  cursor: pointer;
}
.archibald-help-tooltip .content {
  display: none;
}