.archibald-curricula-field__editor h3 {
  font-size: 1em;
}
.archibald-curriculum-ui-item-info__label {
  bottom: -48px;
}
.archibald-column__button {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  -o-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.archibald-curriculum-ui-search__wrapper {
  padding: 40px 20px;
  border: 1px solid #ccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.archibald-curriculum-ui-search input {
  padding: 5px 7px;
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
  vertical-align: baseline;
  box-sizing: inherit;
  outline: 2px solid transparent;
  outline-offset: 0px;
  transition: all, 0.1s;
}
.archibald-curriculum-ui-search:focus {
  color: #000;
  border-color: #68A3CF;
  outline: 2px solid #C1E0FF;
  outline-offset: 0px;
}
div.archibald-curricula-field__editor__opts label {
  font-size: 1em;
  color: rgb(51, 51, 51);
  line-height: 1;
  font-weight: normal;
}
