.archibald-curricula-field__editor h3 {
  font-size: 1em;
}
.archibald-curriculum-ui-item-info__label {
  bottom: -38px;
}
.archibald-curricula-field__editor__opts__opt label {
  font-weight: normal;
}
.archibald-curriculum-ui-search__wrapper {
  padding: 40px 20px;
  border: 1px solid #ccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.archibald-curriculum-ui-search input {
  padding: 2px;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
}
