.js-archibald-curricula-processed .form-type-textarea {
  display: none;
}
.archibald-column__wrapper__list {
  margin: 0 !important;
}
.archibald-curriculum-ui-summary__list {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  list-style-type: none !important;
}
.archibald-curricula-field__editor--is-fullscreen {
  background-color: white;
  padding: 30px;
  overflow: scroll;
}
.archibald-curricula-field__editor__opts {
  margin: .5em 0;
}
.archibald-curricula-field__editor__opts__opt {
  float: right;
  cursor: pointer;
  margin-top: 29px;
  padding: 3px;
  font-size: .9em;
}
.archibald-curricula-field__editor__opts__opt + .archibald-curricula-field__editor__opts__opt {
  margin-right: 2em;
}
.archibald-curricula-field__editor__opts__opt:hover {
  background-color: #eee;
}
.archibald-curricula-field__editor__opts__opt--full-screen {
  display: none;
}
.archibald-curricula-has-fullscreen .archibald-curricula-field__editor__opts__opt--full-screen {
  display: inline-block;
}
.archibald-curricula-field__editor__opts__opt--full-screen::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: -360px -96px;
  background-repeat: no-repeat;
}
.archibald-curricula-field__editor--is-fullscreen .archibald-curricula-field__editor__opts__opt--full-screen::before {
  background-position: -385px -96px;
}
.archibald-curricula-field__editor__opts__opt--search::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: -49px 0;
  background-repeat: no-repeat;
}
.archibald-curriculum-ui-summary__list__item span {
  white-space: normal;
  max-height: 1.7em;
  padding-top: 0.2em;
  line-height: 2;
}
.ui-menu {
  max-width: 400px; /* This is completely arbitrary... */
}
.ui-menu .ui-menu-item:nth-child(even) {
  background: #eee;
}
.ui-menu .ui-menu-item:hover a,
.ui-menu .ui-state-focus {
  cursor: pointer;
  background: #F0F567;
}
