#archibald-import-from-catalog-form .form-item-search,
#archibald-import-from-catalog-form .form-item-show-local  {
  display: inline-block;
}
#archibald-import-from-catalog-form .form-item-search label {
  display: inline-block;
}
#archibald-import-from-catalog-form .form-item-search .form-text {
  max-width: 250px;
}
#archibald-import-from-catalog-form table img {
  max-width: 90%;
}
.archibald-import-from-catalog-form__language--unavailable {
  color: gray;
  font-style: italic;
}
