.archibald-curricula-field__editor__suggestions {
  margin: 20px 0 !important;
  padding: 10px !important;
  background-image: none !important;
}
.archibald-curricula-field__editor__suggestions .archibald-help-tooltip {
  float: left;
  margin-bottom: -30px;
}
.archibald-curricula-field__editor__suggestions .archibald-help-tooltip + .archibald-curricula-field__editor__suggestions__content {
  margin-left: 30px;
}
.archibald-curricula-field__editor__suggestions__content__add--added,
.archibald-curricula-field__editor__suggestions__content__add--added:hover {
  color: gray !important;
  font-style: italic;
  text-decoration: none;
  cursor: default;
}
.archibald-curricula-field__editor__suggestions__content {
  clear: both;
}
.archibald-curricula-field__editor__suggestions__content li {
  list-style: none;
}
.archibald-curricula-field__editor__suggestions__content label {
  font-weight: normal;
}
.archibald-curricula-field__editor__suggestions__content__confirm-message {
  font-style: italic;
  color: gray;
}
