.archibald-lp21-field-label {
  font-size: 1em;
}
.archibald-lp21-editor__cycles {
  display: none;
}
/**
 * Kompetenzstufe border colors.
 */
/* Prepare borders, based on the number of cycles. */
.archibald-column__wrapper__list__item--has-cycles-1,
.archibald-column__wrapper__list__item--has-cycles-2,
.archibald-column__wrapper__list__item--has-cycles-3 {
  border-left: 12px solid gray;
}
.archibald-column__wrapper__list__item--has-cycles-12,
.archibald-column__wrapper__list__item--has-cycles-13,
.archibald-column__wrapper__list__item--has-cycles-23 {
  border-left: 6px solid gray;
}
.archibald-column__wrapper__list__item--has-cycles-123 {
  border-left: 4px solid gray;
}
.archibald-column__wrapper__list__item--has-cycles-12::before,
.archibald-column__wrapper__list__item--has-cycles-13::before,
.archibald-column__wrapper__list__item--has-cycles-23::before,
.archibald-column__wrapper__list__item--has-cycles-123::before,
.archibald-column__wrapper__list__item--has-cycles-123::after {
  content: '';
  border-left: 6px solid gray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.archibald-column__wrapper__list__item--has-cycles-123::before,
.archibald-column__wrapper__list__item--has-cycles-123::after {
  border-left-width: 4px;
}
.archibald-column__wrapper__list__item--has-cycles-123::after {
  left: 4px;
}
/* Let's coloooor!!! */
.archibald-column__wrapper__list__item--has-cycles-123::after,
.archibald-column__wrapper__list__item--has-cycles-13::before,
.archibald-column__wrapper__list__item--has-cycles-12::before,
.archibald-column__wrapper__list__item--has-cycles-1 {
  border-left-color: #E39B2D;
}
.archibald-column__wrapper__list__item--has-cycles-123::before,
.archibald-column__wrapper__list__item--has-cycles-23::before,
.archibald-column__wrapper__list__item--has-cycles-2 {
  border-left-color: #2F8FCE;
}
.archibald-column__wrapper__list__item--has-cycles-3 {
  border-left-color: #97C941;
}
.archibald-column__wrapper__list__item--has-cycles-12 {
  border-left-color: #2F8FCE;
}
.archibald-column__wrapper__list__item--has-cycles-13,
.archibald-column__wrapper__list__item--has-cycles-23 {
  border-left-color: #97C941;
}
.archibald-column__wrapper__list__item--has-cycles-123 {
  border-left-color:  #97C941;
}
/**
 * Cycle selection.
 */
.archibald-lp21-cycles {
  margin-top: 10px;
  padding: 10px;
  background: #eee;
  overflow: hidden;
}
/**
 * We need to be more precise, as the Drupal default styles reset our styles.
 * Hence the completely unnecessary "body .form-item" selector.
 */
body .form-item .archibald-lp21-cycles__label {
  font-weight: bold;
}
body .form-item .archibald-lp21-cycles__cycle {
  font-size: 1em;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  padding: 5px 10px;
  border-style: dashed;
  border-color: #ccc;
  border-width: 1px 1px 1px 0;
  cursor: pointer;
}
.archibald-lp21-cycles__cycle::before {
  content: '';
  position: absolute;
  left: -10px;
  top: -1px;
  bottom: -1px;
  border-left: 10px solid gray;
}
/* Add colors. */
.archibald-lp21-cycles__cycle--cycle-1::before {
  border-left-color: #E39B2D;
}
.archibald-lp21-cycles__cycle--cycle-2::before {
  border-left-color: #2F8FCE;
}
.archibald-lp21-cycles__cycle--cycle-3::before {
  border-left-color: #97C941;
}
.archibald-lp21-cycles__cycle:hover {
  background-color: #ddd;
}
/**
 * Summary.
 */
.archibald-lp21-summary-cycles {
  display: table;
  width: 100%;
  margin-bottom: 1em;
}
.archibald-lp21-summary-cycles__cycle {
  display: none;
  height: .5em;
  text-indent: -9999px;
  overflow: hidden;
}
.archibald-lp21-summary-cycles--has-cycle-1 .archibald-lp21-summary-cycles__cycle--cycle-1,
.archibald-lp21-summary-cycles--has-cycle-2 .archibald-lp21-summary-cycles__cycle--cycle-2,
.archibald-lp21-summary-cycles--has-cycle-3 .archibald-lp21-summary-cycles__cycle--cycle-3 {
  display: table-cell;
}
/* Add colors. */
.archibald-lp21-summary-cycles__cycle--cycle-1 {
  background: #E39B2D;
}
.archibald-lp21-summary-cycles__cycle--cycle-2 {
  background: #2F8FCE;
}
.archibald-lp21-summary-cycles__cycle--cycle-3 {
  background: #97C941;
}
